.video-grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  width: 100%;
  height: 100%;
  gap: 15px;
}

.video-grid-item {
  display: flex;
  border-radius: 15px;
  height: 12rem;
}

@media (max-width: 1600px) {
  .video-grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1080px) {
  .video-grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
